//
//// Base
//
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: $lato-regular;
	font-size: 16px; 
	color: #000;
	background: $cor-branca;
}

a {
	color: #000;
	text-decoration: none; 
}

p {
	margin: 0 0 10px 0;
	line-height: 23px;
}

.container {
	max-width: 1440px;
	margin: 0 auto;
	padding: 0 40px;
	position: relative;
	height: inherit;
}




