//
//// Banner Home
//
.banner-home {
	padding-top: 75px;

	@include break(desk) {
		padding-top: 150px;
	}	

	&-inner {
		height: 400px;

		@include break(desk) {
		height: 600px;
		}
		
	}

	&-item {
		background: url("../../images/banner/banner-1.jpg") no-repeat;
		height: inherit;

		h2 {
			position: relative;
			top: 50%;
			transform: translateY(-50%);
		}

		a {
			font-family: $roboto-bold;
			font-size: 26px;
			color: $cor-branca;


			@include break(tablet) {
				font-size: 42px;
			}			

			@include break(desk) {
				font-size: 72px;
			}

			span {
				font-family: $roboto-thin;
				font-weight: normal;
			}
		}

	}

}



//
//// Seções da home
//
.section-home {
	padding: 50px 0;
	min-height: 500px;

	&-titulo {
		font-family: $roboto-thin;
		font-weight: normal;
		font-size: 42px;
		margin-bottom: 20px;

		@include break (desk) {
			font-size: 72px;
		}

	}

	&-quem-somos {
		background: $cor-cinza;
		color: $cor-azul;

	}

	&-noticias {
		background: $cor-vermelho;
		color: $cor-branca;
	}	

	&-projetos {
		background: $cor-amarelo;
		color: $cor-branca;
	}		

	&-vagas {
		background: $cor-azul;
		color: $cor-branca;
	}	

	&-contato {
		background: $cor-verde;
		color: $cor-branca;
	}		

}



//
//// Seção - Quem Somos
//
.section-home-quem-somos {

	&-icons {
		text-align: center;
		margin-top: 60px;
	}

}



//
//// Seção - Notícias
//
.section-home-noticias {

	&-list {
		display: flex;
		display: -webkit-flex; /* Safari */
		flex-flow: column;
		-webkit-flex-flow: column; /* Safari */

			@include break(desk) {
				flex-flow: row;
				-webkit-flex-flow: row; /* Safari */
			}

	}

	&-item {
		background: $cor-vermelho-light;
		margin-bottom: 10px;

			@include break(desk) {
				flex: 1 0 auto;
				-webkit-flex: 1 0 auto; /* Safari */
				margin: 1%;
				width: 23%;
			}

		img {
			display: none;
			
			@include break(desk) {
			  display: block;
			  width: 100%;
			}

		}

		p {
			padding: 10px;
		}

		a {
			color: $cor-branca;
		}

		time {
			color: $cor-vermelho-darken;
		}

	}

}



//
//// Seção - Projetos - Acessos
//

.section-home-projetos-acessos {

		display: flex;
		display: -webkit-flex;  /* Safari */
		flex-flow: wrap row;
		-webkit-flex-flow: wrap row; /* Safari */
		margin-bottom: 20px;

		li {
			flex: 1 0 150px;
			-webkit-flex: 1 0 150px; /* Safari */
			list-style: none;
			text-align: center;
			padding: 20px 0;

			a {
				display: block;
				color: $cor-branca;

				&:before {
					content: "";
					display: block;
					background: url("../../images/icon-projetos-acessos.png") no-repeat;
					width: 100px;
					height: 100px;
					margin: 0 auto;
				}

			&.icon-pesquisador {
				
				&:before {
					background-position: -348px 0;
				}

			}				

			&.icon-financiador {
				
				&:before {
					background-position: -230px 0;
				}

			}

			&.icon-financiamento {
				
				&:before {
					background-position: 0 0;
				}

			}

			&.icon-crie {
				
				&:before {
					background-position: -115px 0;
				}

			}				
			
			}

		} 

	}



//
//// Seção - Projetos - Projetos em Destaque
//

.section-home-projetos-destaque {
	background: $cor-amarelo-light;
	min-height: 440px;
	padding: 20px 0;

	h2 {
			font-size: 42px;
	}

	&-list	{
		display: flex;
		flex-direction: column;

		@include break(desk) {
			flex-direction: row;
			flex: 1 0 200px;
		}

	}

	&-item {
			
			background: $cor-branca;

			@include break(desk) {
			width: 23%;
			}

			margin: 1%;
			position: relative;

			img {
				display: none;
				width: 100%;

			@include break(desk) {
				display: block;
			}

			}

			p {
				padding: 5px 10px;
				margin: 0;
				color: $cor-amarelo-darken;
			}
	}

}

//
//// Seção - Vagas
//

.section-home-vagas {
	
	&-status {
	display: flex;
	flex-direction: column;

	@include break(desk) {
		flex-direction: row;
	}

		div {
			background: $cor-azul-light;
			padding: 10px;
			margin: 1%;
			min-height: 250px;

			@include break(desk) {
				width: 23%;
				flex: 1 0 200px;
			}

			.section-home-titulo {
				font-size: 42px;
				text-transform: uppercase;
			}

			li {
				list-style: none;
				padding: 10px 0;
				border-bottom: 1px solid $cor-azul;

				a {
					color: $cor-branca;
				}
			}

		}

		.section-home-vagas-mais {
			display: flex;
			flex-flow: column;

			span {
				flex-grow: 1;
			}

			h3 {
				margin: 0;
				font-family: $roboto-bold;
			}
		}

	}

}

//
//// Seção - Contato
//

.section-home-contato {

	&-inner {
		display: flex;
		flex-direction: column;

		@include break(desk) {
			flex-direction: row;
		}

	}

	&-formulario {
		flex: 1 0 auto;		
		max-width: 100%;

		@include break(desk) {
			max-width: 50%;
		}

		.campo-nome , .campo-email {
			width: 96.5%;
			background: $cor-verde-darken;

			@include break(desk) {
				width: 48%;
			}

			&::-webkit-input-placeholder {
				color: $cor-verde-light;
			}

		}

		.campo-nome {
			margin-right: 0%;
		}

		.campo-assunto {
			width: 96.5%;
		}

		input {
			padding: 10px;
			margin-bottom: 10px;
			border: none;
			border-radius: 2px;
		}

		textarea {
			width: 96.5%;
			padding: 10px;
			margin-bottom: 10px;
			border-radius: 2px;
			background: $cor-verde-darken;

			&::-webkit-input-placeholder {
				color: $cor-verde-light;
			}			
		}

		button {
			width: 48%;
			background: #f7d100;
			border: none;
			border-bottom: 5px solid #d48d28;
			margin-top: 10px;
			border-radius: 2px;
			padding: 10px 20px;
			color: #fff;
			font-size:  22px;
			font-weight: bold;
		}

	}

	&-enderecos {
		display: flex;
		flex: 1 0 auto;
		max-width: 100%;

		@include break(desk) {
			max-width: 50%;
		}

	div {
		width:  48%;
		margin-right: 1%;
	}

}

span {
	color: $cor-verde-darken;
}
}