//
//// Breakpoint
//
@mixin break($breakpoint) {
 
  @if $breakpoint == "mobile" {
    @media (max-width: 767px) {
      @content;
    }
  }

  @else if $breakpoint == "tablet" {
    @media (min-width: 768px) {
      @content;
    }
  }

  @else if $breakpoint == "desk" {
    @media (min-width: 992px) {
      @content;
    }
  }

}


//
//// Image replace
//
@mixin image-replace {
	text-indent: -9999px;
	overflow: hidden;
	background-repeat: no-repeat;
}

